[user]
  name = David Simon
  email = david.mike.simon@gmail.com

[advice]
  statusHints = false
  pushNonFastForward = false

[alias]
  switch = !legit switch \"$@\"
  branches = !legit branches
  sprout = !legit sprout \"$@\"
  unpublish = !legit unpublish \"$@\"
  harvest = !legit harvest \"$@\"
  sync = !legit sync \"$@\"
  publish = !legit publish \"$@\"
  graft = !legit graft \"$@\"

[color]
  ui = auto

[core]
  excludesfile = ~/.gitexcludes
  whitespace = trailing-space,space-before-tab

[diff]
  renames = copies
  mnemonicprefix = true

[format]
  pretty = format:"%C(magenta)%h%Creset %ad %C(bold)%an%n%Creset    %s%n"

[log]
  abbrevCommit = true
  date = short

[rerere]
  enabled = true

[branch]
  autosetupmerge = true

[push]
  default = tracking

[merge]
  stat = true

[remote "origin"]
  push = refs/heads/*:refs/heads/*
  push = +refs/tags/*:refs/tags/*
